In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("homeprices_with_text_data.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000